.todo-rows {
    display: block;
    margin: 8px auto;
    color: #fff;
    background: linear-gradient(90deg,
            rgba(255, 118, 20, 1) 0%,
            rgba(255, 84, 17, 1) 100%);
    padding: 16px;
    border-radius: 5px;
    width: 100%;
}

.todo-rows.complete{
    opacity: 0.7;
}

.todo-rows:nth-child(4n + 1) {
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%);
}

.todo-rows:nth-child(4n + 2) {
    background: linear-gradient(90deg,
            rgba(255, 12, 241, 1) 0%,
            rgba(250, 0, 135, 1) 100%);
}

.todo-rows:nth-child(4n + 3) {
    background: linear-gradient(90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%);
}

.todo-rows .row-title {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.todo-rows .todo-row{
    cursor: pointer;
}
.todo-rows .todo-row.complete{
    opacity: 0.3;
}

.todo-rows .todo-row.complete .row-title,
.todo-rows .todo-row.complete .row-para{
    text-decoration: line-through;
}

.todo-rows .row-date,
.todo-rows .row-time {
    font-size: 18px;
}

.row-schedule {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 12px;
}

.delete-icon {
    margin-right: 5px;
    color: #fff;
}

.edit-icon {
    color: #fff;
    margin-right: 10px;
}